n8n-hondusport-admin-v2.json
{
  "name": "Admin API - HS v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hondusport-admin",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "06ec5e79-1ef0-4509-ae12-b2ef92dc87fb",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-464, 480],
      "webhookId": "a95fb16b-44a8-4939-9ce3-48f7e268c726"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "leftValue": "={{ $json.body.sheet }}", "rightValue": "Productos", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "Productos"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "leftValue": "={{ $json.body.sheet }}", "rightValue": "Filtros", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "Filtros"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "leftValue": "={{ $json.body.sheet }}", "rightValue": "Envios", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "Envios"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "leftValue": "={{ $json.body.sheet }}", "rightValue": "Cupones", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "Cupones"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "leftValue": "={{ $json.body.sheet }}", "rightValue": "Banners", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "Banners"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "leftValue": "={{ $json.body.sheet }}", "rightValue": "Configuracion", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "Configuracion"
            }
          ]
        },
        "options": {}
      },
      "id": "b8e032c4-2052-4d48-9d16-c5e73319f692",
      "name": "Switch por Sheet",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-240, 416]
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nlet data = { ...(body.data || {}) };\nif (action === 'delete') data = { activo: 'FALSE' };\nif (body.id !== undefined && body.id !== null) data.id = body.id;\nreturn [{ json: data }];"
      },
      "id": "code-productos-001",
      "name": "Extract Productos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-130, 0]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1vq-YCvtw5_uPNMtTRySw5ufA_2vo6V3DeiKqHuVFGeQ", "mode": "list", "cachedResultName": "Hondusport-Plantilla-Sheets" },
        "sheetName": { "__rl": true, "value": 273331869, "mode": "list", "cachedResultName": "Productos" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nombre", "displayName": "nombre", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "precio", "displayName": "precio", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "precio_original", "displayName": "precio_original", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "stock", "displayName": "stock", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "cat", "displayName": "cat", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "genero", "displayName": "genero", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "badge", "displayName": "badge", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "descripcion", "displayName": "descripcion", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "personalizable", "displayName": "personalizable", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "oferta_fin", "displayName": "oferta_fin", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "rating", "displayName": "rating", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "imagenes", "displayName": "imagenes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "activo", "displayName": "activo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9911eb60-fbc4-4f83-9b3d-03e7bf4e0f43",
      "name": "GS Productos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 0],
      "credentials": { "googleSheetsOAuth2Api": { "id": "liArKnkt191Bo6m6", "name": "Google Sheets Personal" } }
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nlet data = { ...(body.data || {}) };\nif (action === 'delete') data = { activo: 'FALSE' };\nif (body.id !== undefined && body.id !== null) data.id = body.id;\nreturn [{ json: data }];"
      },
      "id": "code-filtros-002",
      "name": "Extract Filtros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-130, 192]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1vq-YCvtw5_uPNMtTRySw5ufA_2vo6V3DeiKqHuVFGeQ", "mode": "list", "cachedResultName": "Hondusport-Plantilla-Sheets" },
        "sheetName": { "__rl": true, "value": 1295933265, "mode": "list", "cachedResultName": "Filtros" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["tipo", "valor"],
          "schema": [
            { "id": "tipo", "displayName": "tipo", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "valor", "displayName": "valor", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "categorias", "displayName": "categorias", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "imagen", "displayName": "imagen", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "orden", "displayName": "orden", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "activo", "displayName": "activo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a9dbf4f6-e205-4970-bc8f-e4e5161859d8",
      "name": "GS Filtros",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 192],
      "credentials": { "googleSheetsOAuth2Api": { "id": "liArKnkt191Bo6m6", "name": "Google Sheets Personal" } }
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nlet data = { ...(body.data || {}) };\nif (action === 'delete') data = { activo: 'FALSE' };\nif (body.id !== undefined && body.id !== null) data.id = body.id;\nreturn [{ json: data }];"
      },
      "id": "code-envios-003",
      "name": "Extract Envios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-130, 384]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1vq-YCvtw5_uPNMtTRySw5ufA_2vo6V3DeiKqHuVFGeQ", "mode": "list", "cachedResultName": "Hondusport-Plantilla-Sheets" },
        "sheetName": { "__rl": true, "value": 1140613355, "mode": "list", "cachedResultName": "Envios" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "nombre", "displayName": "nombre", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "descripcion", "displayName": "descripcion", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "tipo", "displayName": "tipo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "costo", "displayName": "costo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "descuento", "displayName": "descuento", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "activo", "displayName": "activo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bb6bac8d-c01d-4975-b88a-295a2bb5f1fc",
      "name": "GS Envios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 384],
      "credentials": { "googleSheetsOAuth2Api": { "id": "liArKnkt191Bo6m6", "name": "Google Sheets Personal" } }
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nlet data = { ...(body.data || {}) };\nif (action === 'delete') data = { activo: 'FALSE' };\nif (!data.codigo && body.id !== undefined) data.codigo = String(body.id);\nreturn [{ json: data }];"
      },
      "id": "code-cupones-004",
      "name": "Extract Cupones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-130, 576]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1vq-YCvtw5_uPNMtTRySw5ufA_2vo6V3DeiKqHuVFGeQ", "mode": "list", "cachedResultName": "Hondusport-Plantilla-Sheets" },
        "sheetName": { "__rl": true, "value": 1775554516, "mode": "list", "cachedResultName": "Cupones" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["codigo"],
          "schema": [
            { "id": "codigo", "displayName": "codigo", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "descuento", "displayName": "descuento", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "tipo", "displayName": "tipo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "activo", "displayName": "activo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0181b796-5e57-4a07-a8b9-bcbb15739324",
      "name": "GS Cupones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 576],
      "credentials": { "googleSheetsOAuth2Api": { "id": "liArKnkt191Bo6m6", "name": "Google Sheets Personal" } }
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nlet data = { ...(body.data || {}) };\nif (action === 'delete') data = { activo: 'FALSE' };\nreturn [{ json: data }];"
      },
      "id": "code-banners-005",
      "name": "Extract Banners",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-130, 768]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1vq-YCvtw5_uPNMtTRySw5ufA_2vo6V3DeiKqHuVFGeQ", "mode": "list", "cachedResultName": "Hondusport-Plantilla-Sheets" },
        "sheetName": { "__rl": true, "value": 1671442643, "mode": "list", "cachedResultName": "Banners" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["titulo"],
          "schema": [
            { "id": "titulo", "displayName": "titulo", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "subtitulo", "displayName": "subtitulo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "btn_texto", "displayName": "btn_texto", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "btn_link", "displayName": "btn_link", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "imagen", "displayName": "imagen", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cdd72155-93a1-4b0e-9156-d97b3929ab9a",
      "name": "GS Banners",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 768],
      "credentials": { "googleSheetsOAuth2Api": { "id": "liArKnkt191Bo6m6", "name": "Google Sheets Personal" } }
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst data = { ...(body.data || {}) };\nif (!data.key && body.id !== undefined) data.key = String(body.id);\nreturn [{ json: data }];"
      },
      "id": "code-config-006",
      "name": "Extract Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-130, 960]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1vq-YCvtw5_uPNMtTRySw5ufA_2vo6V3DeiKqHuVFGeQ", "mode": "list", "cachedResultName": "Hondusport-Plantilla-Sheets" },
        "sheetName": { "__rl": true, "value": 1968466223, "mode": "list", "cachedResultName": "Configuracion" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["key"],
          "schema": [
            { "id": "key", "displayName": "key", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "value", "displayName": "value", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cc197199-b6e0-4628-906b-69e69b5259e4",
      "name": "GS Configuracion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 960],
      "credentials": { "googleSheetsOAuth2Api": { "id": "liArKnkt191Bo6m6", "name": "Google Sheets Personal" } }
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, sheet: $('Webhook Trigger').first().json.body.sheet, action: $('Webhook Trigger').first().json.body.action } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "b6efd5e2-95ac-4dc8-9618-0f57141bcb2a",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [300, 480]
    }
  ],

  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Switch por Sheet", "type": "main", "index": 0 }]]
    },
    "Switch por Sheet": {
      "main": [
        [{ "node": "Extract Productos",    "type": "main", "index": 0 }],
        [{ "node": "Extract Filtros",       "type": "main", "index": 0 }],
        [{ "node": "Extract Envios",        "type": "main", "index": 0 }],
        [{ "node": "Extract Cupones",       "type": "main", "index": 0 }],
        [{ "node": "Extract Banners",       "type": "main", "index": 0 }],
        [{ "node": "Extract Config",        "type": "main", "index": 0 }]
      ]
    },
    "Extract Productos":    { "main": [[{ "node": "GS Productos",    "type": "main", "index": 0 }]] },
    "Extract Filtros":      { "main": [[{ "node": "GS Filtros",      "type": "main", "index": 0 }]] },
    "Extract Envios":       { "main": [[{ "node": "GS Envios",       "type": "main", "index": 0 }]] },
    "Extract Cupones":      { "main": [[{ "node": "GS Cupones",      "type": "main", "index": 0 }]] },
    "Extract Banners":      { "main": [[{ "node": "GS Banners",      "type": "main", "index": 0 }]] },
    "Extract Config":       { "main": [[{ "node": "GS Configuracion","type": "main", "index": 0 }]] },
    "GS Productos":         { "main": [[{ "node": "Send Response",   "type": "main", "index": 0 }]] },
    "GS Filtros":           { "main": [[{ "node": "Send Response",   "type": "main", "index": 0 }]] },
    "GS Envios":            { "main": [[{ "node": "Send Response",   "type": "main", "index": 0 }]] },
    "GS Cupones":           { "main": [[{ "node": "Send Response",   "type": "main", "index": 0 }]] },
    "GS Banners":           { "main": [[{ "node": "Send Response",   "type": "main", "index": 0 }]] },
    "GS Configuracion":     { "main": [[{ "node": "Send Response",   "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "instanceId": "0c9b096957d95825be21c8ee5e6700639ea4b8e0714a9a7f48ba49751ad7e673"
  }
}
